@using Zebra.ZebraHelpers
@using Zebra.ModelView
@{
    Layout = null;
} 
@model NodeBrowserModel

<button class="zebra-save-data">Save</button>

<div class="zebra-field">
    <form class="zebra-field-data-form">
        <input type="hidden" name="nodeid" id="nodeid" value="@Model.nodeid" />
        @Html.LoadFields(Model.fields)
    </form>
</div>



 
