@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<input type="button" class="inheritance-showdialog-btn" value="Show Inheritance" />


<script>

    //$(document).on('click', '.inheritance-showdialog-btn', function () {
    //    debugger;
    //    var node = [];
    //    var nodeid = {};
    //    nodeid["nodeid"] = $(ZebraEditor_currentnode.element.parentElement).attr("data-nodeid");
    //    node.push(nodeid);
    //    var query = "fullyqualifiedname=Zebra.Utilities.UtilityProcessor.InheritanceUtility,Zebra&method=RenderInheritance&data=" + JSON.stringify(node);
    //    $.get("./RenderUtility?" + query, function (data) {
    //        $("body").append(data);
    //        $('body').append("<div class='black-overlay'></div>");
    //    });
    //});

</script>
<style>
    

</style>