<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 

<script>

$(document).on('click', '.add-field-button', function (e) {

		$(".form-fieldbuilder").append($(".field-sample").clone().attr("class","field"));

    });

$(document).on('mouseup', function (e) {
		var fields = $(".zebra-fieldbuilder .field");

		for(var i = 0; i < fields.length; i++)
		{
			if($(fields[i]).find("input").val() == '' && $(event.target.parentElement).attr('class') != 'field'){
				$(fields[i]).remove();
			}
		}
    });

</script>
<style>
    .field {
        display: block;
    }

    .field-sample {
        display: none;
    }
</style>