<connectionStrings>
  <add name="DTOContextContainer" connectionString="metadata=res://*/Models.DTOContextContainer.csdl|res://*/Models.DTOContextContainer.ssdl|res://*/Models.DTOContextContainer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RISHABH;initial catalog=ZebraDB_Master;user id=sa;Password=sql;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>