@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  @*  <script src="~/bundles/jquery" type="text/javascript"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/jquery-css")
    <title>Zebra Editor</title>
</head>
<body>
    <div class="zebra-container"> 
        @RenderBody()
    </div>
</body>
<script src="~/bundles/zebra-js" type="text/javascript"></script>
</html>
